<form class="form-horizontal" role="form" method="post" action="{#FILE_BASE}/manage/edit/{$File.media_id}">
	<input name="FileID" value="{$File.media_id}" type="hidden" />
    <!--
    <div class="form-group">
        <label for="File_name" class="col-sm-2 control-label">File name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" readonly="readonly" name="File[media_name]" id="File_name" value="{$File.media_name}" placeholder="File name"/>
        </div>
    </div>
    -->
    <div class="form-group">
        <label for="File_title" class="col-sm-2 control-label">File title</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="File[media_title]" id="File_title" value="{$File.media_title}" placeholder="File title"/>
        </div>
    </div>
    <div class="form-group">
        <label for="File_alt" class="col-sm-2 control-label">File alt</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="File[media_alt]" id="File_alt" value="{$File.media_alt}" placeholder="File alt"/>
        </div>
    </div>
    <div class="form-group">
        <label for="File_alt" class="col-sm-2 control-label">File status</label>
        <div class="col-sm-10">
            <select class="form-control" name="File[status]" id="File_alt">
                <option value="1"{if($File.status == 1)} selected{/if}>Active</option>
                <option value="0"{if($File.status == 0)} selected{/if}>Inactive</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" name="SaveNodeTypeSubmit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>