@charset "utf-8";

div.VNP_SysStat {
    background: #f5f5f5;
    padding: 6px 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* border: 1px solid #ddd; */
    z-index: 999;
}
code.VNP_CodeBlock {
    border-radius: 0 !important;
}
pre {
    border-radius: 0 !important;
    margin: 5px !important;
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    white-space: nowrap;
    border-radius: 4px;
}
.fl {
    float: left;
}
.FeaturedPanel {
    margin: 0;
    list-style: none
;
}

.FeaturedPanel.clearfix {}
.FeaturedPanel span.VNP_PageInfo {
    float: left;
    font-weight: bold;
}
.FeaturedPanel > ul.FeaturedButtons {
    margin: 0;
    list-style: none;
    display: inline;
    float: right;
}
.FeaturedPanel li {
    display: inline;
    margin-right: 10px;
}
.form-group {
    margin-bottom: 0
}
input, button {outline: none !important}
.container-fluid {}
.form-control, .btn {
    border-radius: 0;
    height: 35px;
    padding: 5px 10px;
}
.form-control {
    color: #6E6E6E;
    text-decoration: none;
    padding: 4px 8px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 white;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: all .218s;
    background: #fafafa;
    border: solid 1px #dddddd;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    /* line-height: 34px; */
    box-shadow: none;
    height: 35px;
    /* width: auto; */
    /* min-width: 45%; */
    /* border: none; */
    /* border-bottom: 2px solid #CCC; */
}
.form-control:hover {
    color: #333;
    border-color: #999;
}
.form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #12A2D9;
    background: #FFF;
}
.btn {
    padding: 4px 12px;
    box-shadow: none;
}
.alert {
    padding: 5px 10px;
    background-image: none;
    margin-bottom: 10px;
}
.pagination {
    margin: 0;
    border-radius: 0;
    margin-left: 15px;
}
.panel {
    border-radius: 0;
}
.input-group-addon {
    border-radius: 0
}
.panel-default>.panel-heading {
    background-image: none;
}
.page-header {
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}
.navbar-default {
    background-image: none;
    border-radius: 0;
    min-height: 30px;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    font-weight: bold;
}
.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}
.btn-toolbar {
    content: " ";
    display: table;
    margin-bottom: 15px;
}
span.RequireField {
    display: inline-block;
    color: #F00;
    margin-left: 5px;
}
.progress {
    margin-top: 5px;
    height: 10px;
    border-radius: 0;
    margin-bottom: 0
}
#left-sidebar {
    background: #FFF;
    width: 220px;
    margin: 15px 15px 0 0;
    padding: 0;
}
#main-board {
    /* background: #FFF; */
    margin: 0;
    padding: 0;
    width: Calc(100% - 210px);
    float: right;
}
.box {
    position: relative;
    padding: 15px;
    background-color: #FFF;
    margin-right: 0;
    border-width: 1px;
    border-color: #ddd;
    box-shadow: none;
    margin-bottom: 15px;
    padding-top: 0;
}
.form-group {
    padding: 6px 12px;
    display: block;
    clear: both;
}
.clearfix:after, .FormPart.FormPartCol-4 .form-group:after, .form-group:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix, .FormPart.FormPartCol-4 .form-group, .form-group {
    *zoom: 1;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#board-breadcrumbs {
    border-radius: 0;
    -moz-webkit-border-radius: 0;
    padding: 0;
    position: absolute;
    top: 8px;
    background: transparent;
    margin: 0;
    left: 15px;
}
.NodeField_Option {
    margin: 5px 0;
}
.Move_Option {
    cursor: move
}
.Item_Featured {
    font-size: 90%;
}
.NodeField_Item {
    width: 100%
}
.ui-sortable-placeholder {
    outline: #F30 dashed 1px;
    visibility: visible !important
}
div#VNP_LeftBar {
    margin: 0;
    padding: 0;
    background: #015999 url(../images/sidebar-bg.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    width: 210px;
    height: 100%;
    background-size: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-size: 215px;
    -webkit-box-shadow: inset -1px -1px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset -1px -1px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset -1px -1px 10px 0px rgba(0, 0, 0, 0.3);
}
ul#AdminMenus {
    margin: 0;
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid #0763A8;
}
ul#AdminMenus li a {
    padding: 12px 15px;
    display: block
;
    color: #FFF;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
ul#AdminMenus li:last-child a {
    border-bottom: none;
}
ul.sub-menu {
    margin: 0;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 213px;
    top: 0px;
    left: 100%;
    background: #0B7EBB;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(66, 139, 202, 0.2);
    /* border: 1px solid #0979B5; */
    display: none;
}
ul#AdminMenus li {
    position: relative;
}
div#AdminBoard header {
    background: #FFF;
    height: 32px;
    position: fixed;
    top: 0;
    width: Calc(100% - 210px);
    z-index: 999;
}
div#AdminBoard header .VNP_Logo {
    background: url(../images/small_logo.png) no-repeat;
    width: 160px;
    height: 32px;
    margin-left: 10px;
    display: block;
}
.BoardContent {
    background: #FFF;
    padding: 75px 10px 60px 10px;
}
.BoardContent p {
    margin-top: 0;
}
.FieldOrderItem {
    width: 50%;
    float: left;
}
.MultiImages_Container .MultiImages_Item {
    text-align:center; width: 60px;
    margin: 0 10px 0 0; float: left
;
    height: 80px;
}
select[multiple] {
    min-height: 250px;
}
.tagsinput {
    width: 100% !Important;
    color: #6E6E6E;
    text-decoration: none;
    padding: 4px 8px;
    position: relative;
    display: inline-block;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #FFF;
    border: solid 1px #CCC;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    line-height: 20px;
}
.tagsinput:hover {
    color: #333;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0,0,0,0.2) -webkit-box-shadow:0 2px 5px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
.tagsinput span.tag {
    font-weight: bold
}
.FieldType_tags {
    min-height: 133px;
    height: 133px;
}
ul.VNP_FormPart {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    border: 2px solid #CCC;
    padding: 15px 3px 3px 3px;
    width: 45%;
    margin-right: 2%;
    background: #F7F7F7;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
ul.VNP_FormPart li {
    background: #EEE;
    display: block;
    /* width: 100%; */
    padding: 5px 8px;
    margin: 2px 0 0 0;
    cursor: pointer;
    transition: background 0.2s;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
}
ul.VNP_FormPart li:first-child {
    margin-top: 0;
}
ul.VNP_FormPart li:hover {
    background: #CCC;
}
.FormPart label.control-label {padding: 0 9px;}
.col-sm-2 {padding-right: 5px; padding-left: 5px}
.FormPart  div {
    padding-left:0;
}
.FormPart.FormPartCol-4 {
    width: 100%;
    float: none;
    margin-right: 0;
    padding-right: 0;
    margin-left: 0;
    text-align: left;
}
.FormPart.FormPartCol-3 {
    width: 30%;
    float: left;
}
.FormPart.FormPartCol-4 {
    width: 38%;
    float: right;
    padding: 5px 10px;
    background: #F3F3F3;
    box-shadow: 0 0 3px #CCC;
    border: 1px solid #CCC;
    -webkit-box-shadow: 0 0 3px #CCC;
    -moz-box-shadow: 0 0 3px #CCC;
}
.FormPart.FormPartCol-6 {
    width: 60%;
    float: left;
}
.FormPart.FormPartCol-7 {
    width: 70%;
    float: left;
}
.FieldType_tags > div {margin-left:0; margin-right:0;width: 100%;padding: 0;}
.FieldType_tags.form-group {margin: 10px 0;box-shadow: 0 0 3px #CCC;padding: 0;-webkit-box-shadow: 0 0 3px #CCC;-moz-box-shadow: 0 0 3px #CCC;}
.FieldType_tags label {
    width: 100%;
    text-align: left !Important;
    float: left;
    background: #EBEBEB;
    border-color: #CCC;
    border-style: solid;
    border-width: 1px 1px 0 1px;
}
.FormPart.FormPartCol-10 {
    clear: both;
}
.FormPart.FormPartCol-10:before {
    content: " ";
    display: table;
}
.FormPartCol-10:after {
    content: "";
    display: table;
    clear: both;
}
.FieldType_html.form-group > div > label {
    width: 100%;
    text-align: left !Important;
    float: none;
    background: #EBEBEB;
    border-color: #9e9e9e;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    margin-bottom: 0;
    padding: 5px 10px;
}
.FieldType_html.form-group {
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 3px #CCC;
    -webkit-box-shadow: 0 0 3px #CCC;
    -moz-box-shadow: 0 0 3px #CCC;
    margin-top: 15px;
}
.FieldType_html.form-group > div {margin:0;padding:0}
ul#AdminMenus li:hover > ul.sub-menu {
    display: block;
}
.FieldImagePreviewer {
    margin: 5px 0;
}
.FormPart.FormPartCol-4 .form-group.Field_tags label {
    padding-left: 10px;
}

/**** User level ****/
tr.user_admin {
    color: #C20101;
}
tr.user_smod {
    color: #007505;
}
tr.user_mod {
    color: #233B9C;
}
tr.user_pending {
    color: #949494;
}
.FormSeperator {
    border-top: 1px solid #E7E7E7;
    margin-top: 8px;
    padding-top: 8px;
}
.dropdown-menu {
    border-radius: 0;
}
.dropdown-menu>li>a {
    padding: 3px 10px;
}
tr.User_Inactive {
    background: #F3F3F3;
    opacity: 0.6;
}
.FormPart.FormPartCol-4 label.control-label {
    text-align: left;
    margin: 0;
    width: 100%;
    clear: both;
    padding-left: 0;
}
.FormPart.FormPartCol-4 > div.form-group > div {
    width: 100%;
    padding-right: 0;
}
.FormPart.FormPartCol-4 .form-group {
    padding: 0;
    margin: 0;
}
.FormPart.FormPartCol-4 .col-sm-2 {
    width: 30%;
}
.FormPart.FormPartCol-4 .form-group {
    clear: both;
}
.FormPart.FormPartCol-4 .col-sm-10 {
    width: 70%;
}
.Node_Inactive {
    opacity: 0.6;
}
.VNP_PageTop {
    margin-left: 15px;
    float: right;
}
.VNP_PageTop ul.pagination {
    margin: 0;
}
ul.ListSelect_Container {
    margin: 10px 0;
    padding: 1px 1px 0 1px;
    list-style: none;
    border: 2px solid #CCC;
}

ul.ListSelect_Container li {
    padding: 5px 10px;
    background: #EDEDED;
    border-bottom: 1px solid #FFF;
    font-size: 12px;
    font-weight: bolder;
}
ul.ListSelect_Container li a:last-child {
    float: right;
}
ul.ListSelect_Container li:hover {
    background: #DDD;
}

ul.themeList {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.themeList li {
    display: block;
    float:left;
    width: 200px;
    margin:10px;
    cursor: pointer;
    border: 3px solid #F9F9F9;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    box-shadow: 0 0 3px #BDBDBD;
}
.theme-item {
    position: relative;
    height: 290px;
}

.theme-item img {
    display: block;
    height: 240px;
}

.theme-info {
    background: #F9F9F9;
    width: 100%;
    padding: 5px 10px;
    font-weight: bold;
}
ul.themeList li:hover {
    border-color: #478BCA;
}
ul.themeList li.active {
    border-color: #FF6100;
}
span.theme-name {
    display: block;
    padding: 0 0 5px 0;
}
ul.themeList li.theme-actived {
    border-color: #FF3A00;
}
/***** Rule template *****/
ul.rule-list {
    margin: 10px 0;
    padding: 0;
    list-style: none;
}

ul.rule-list li {
    margin-top: 5px;
}
.quick-add-rule-group .form-group {
    margin: 0;
}

.quick-add-rule-group {
    padding: 5px 15px;
}
ul.product-select-rule, ul.selected-rule-group {
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;
}

ul.product-select-rule > li, ul.selected-rule-group > li {
    padding: 0;
    background: #CFCFCF;
    margin-bottom: 1px;
}
ul.selected-rule-group li.selected {
    background: #428bca;
    color: #FFF;
}
ul.product-select-rule div.rule-group-header {
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
}

ul.rule-options {
    margin: 0;
    padding: 5px 20px;
    list-style: none;
    background: #F9F9F9;
    display: none;
    overflow: hidden;
}
ul.rule-options li {
    padding-left: 0;
}
a.use-rule-branch {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
.product-sub-branch {
    display: none;
}
ul.ruled-branch-product, ul.rule-attrs {
    margin: 10px 0;
    padding: 0;
    list-style: none;
}

ul.rule-attrs {
    margin: 0;
    display: none;
    border: 1px solid #CCC;
    border-top: none;
    padding: 1px;
}

ul.ruled-branch-product li .item-title {
    background: #428bca;
    color: #FFF;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
}

ul.ruled-branch-product li a.delete-product-rule {
    float: right;
    color: #FFF;
}
ul.rule-attrs li span:first-child {
    display: inline-block;
    margin-right: 10px;
    width: 110px;
    border-right: 1px solid #FFF;
    height: 100%;
}

ul.rule-attrs li {
    background: #F5F5F5;
    padding: 0 5px;
    margin-top: 1px;
    line-height: 26px;
}

ul.rule-attrs li:first-child {
    margin-top: 0;
}

ul.ruled-branch-product li .item-title span {
    font-weight: bold;
}
ul.ruled-branch-product li {
    margin-top: 1px;
}
/***** Shop orders *****/
tr.customer-order-money_sent td {
    background: #f0ad4e !important;
    color: #FFF;
}
tr.customer-order-product_sent td {
    background: #5bc0de !important;
    color: #FFF;
}
tr.customer-order-success td {
    background: #5cb85c !important;
    color: #FFF;
}
tr.customer-order-prepaid td {
    background: #3276b1 !important;
    color: #FFF;
}
tr.customer-order-cancel td {
    background: #d9534f !important;
    color: #FFF;
}
/***** Extension dashboard *****/
.extension-dashboard {
    padding: 15px;
}
ul.extension-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.extension-list > li {
    width: calc(50% - 8px);
    float: left;
    margin-right: 15px;
    background: #FDFDFD;
    padding: 15px 15px 10px 15px;
    border: 2px solid #E2E2E2;
    border-radius: 3px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    position: relative;
    margin-bottom: 15px;
}

ul.extension-list li:nth-child(2n) {
    margin-right: 0;
}
ul.extension-list .ext-img img {
    width: 100px;
    border-radius: 3px;
}

ul.extension-list .ext-img {
    width: 100px;
    float: left;
    margin-right: 12px;
}

ul.extension-list .ext-info {
    width: calc(100% - 112px);
    float: right;
}

ul.extension-list .ext-info h3 {
    margin: 0 0 3px 0;
    font-size: 13px;
}
ul.extension-list .ext-info .version {
    color: #999;
    font-size: 12px;
    margin-bottom: 2px;
}
ul.extension-list .ext-actions {
    margin: 5px 0 0 0;
    padding: 0;
    list-style: none;
}

ul.extension-list .ext-actions > li {
    float: left;
    margin-right: 10px;
    font-size: 12px;
}
ul.extension-list > li:hover {
    background: #FAFAFA;
    border-color: #3684BD;
}
/*** extension install status ***/
ul.extension-list .install-status {
    position: absolute;
    top: -2px;
    right: -2px;
    background: #E2E2E2;
    font-size: 12px;
    font-weight: bold;
}

ul.extension-list .install-status a {
    text-decoration: none;
    display: block;
    padding: 3px 8px;
    min-width: 90px;
    text-align: center;
    color: #FFF;
}

ul.extension-list .install-status a.uninstall {
    background: #007581;
}

ul.extension-list .install-status a.install {
    background: #DF201A;
}
/*** extension active status ***/
ul.extension-list .active-status {
    position: absolute;
    top: 25px;  right: -2px;  background: #E2E2E2;  font-size: 12px;  font-weight: bold;
}
ul.extension-list .active-status a {
    text-decoration: none;
    display: block;
    padding: 3px 8px;
    min-width: 90px;
    text-align: center;
    color: #FFF;
}
ul.extension-list .active-status a.active {
    background: #05AEB7;
}
ul.extension-list .active-status a.deactive {
    background: #EF5B52;
}

ul.extension-list .buy-status {
    position: absolute;
    bottom: -2px;  right: -2px;  background: #E2E2E2;  font-size: 12px;  font-weight: bold;
}

ul.extension-list .buy-status a {
    text-decoration: none;  display: block;  padding: 3px 8px;  min-width: 90px;  text-align: center;  color: #FFF;
}

ul.extension-list .buy-status a.buy {
    background: #7AAB0A;
    opacity: 0.9;
}

ul.extension-list .ext-info .desc {
    color:#777;
    font-size: 12px;
    line-height: 20px;
    font-family: arial;
}
.extension-list .ext-price {
    color: #3680BD;
    font-weight: bold;
}

ul.extension-list .price-info {
    margin-top: 12px;
}
.extension-list .ext-price span.discount-string {
    font-weight: normal;
    color: #989898;
}
ul.extension-list .price-info .trial-string {
    display: none;
}

ul.extension-list .price-info .free-ext {
    color: #7AAC0A;
    font-weight: bold;
}


/***** Netbit logo *****/
.netbit-slogan {
    background: url(../images/netbit-solution.png) no-repeat;
    height: 40px;
    background-position: center;
}
.netbit-power {
    height: 120px;
    background: url(../images/power-icon.png) no-repeat center;
    border-bottom: 1px solid rgba(4, 77, 131, 1);
    background-size: 86px;
    display: block;
    color: transparent !important;
    text-decoration: -99999;
}
/***** Redesign sidebar *****/
ul#AdminMenus li:hover {
    background-color: rgba(255, 255, 255, 0.16);
    text-decoration: none;
}
body {
    padding: 0 !important;
}
html, body, .container-fluid, .container-fluid .row {
    height: 100%;
}
ul#AdminMenus > li {
    background: url(../images/menu-icons.png) no-repeat;
    padding-left: 45px;
    background-size: 25px;
    background-position: 18px 6px;
}
ul#AdminMenus > li > a {
    /* padding: 16px 15px; */
}
ul#AdminMenus > li:nth-child(2) {
    background-position: 18px -42px;
}
ul#AdminMenus > li:nth-child(3) {
    background-position: 18px -83px;
}
ul#AdminMenus > li:nth-child(4) {
    background-position: 18px -122px;
}
ul#AdminMenus > li:nth-child(5) {
    background-position: 18px -164px;
}
ul#AdminMenus > li:nth-child(6) {
    background-position: 18px -209px;
}
ul#AdminMenus > li:nth-child(7) {
    background-position: 18px -249px;
}
.pagination-sm>li>a, .pagination-sm>li>span {
    border-radius: 0 !important;
}
ul#AdminMenus > li.active {
    background-image: url(../images/menu-icons-active.png);
    background-color: #FFF;
}
ul#AdminMenus > li.active > a {
    color: #015999;
    font-weight: 700;
    font-size: 13px;
}

/**** admin panel ****/
ul.admin-info {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
    height: 32px;
    line-height: 32px;
    padding-right: 10px;
    font-weight: bold;
}

ul.admin-info li {
    display: inline-block;
    text-align:right
;
    margin-left: 5px;
}
ul.admin-info li#admin-image img {
    border-radius: 50%;
    width: 22px;
    height: 22px;
}
.admin-info li#admin-name span {
    color: #0972B0;
}
ul.admin-info li#admin-noties {
    background: url(../images/bell.png) no-repeat;
    padding-left: 20px;
    background-size: 16px;
    background-position: 0px 7px;
    margin-left: 20px;
}
ul.admin-info li#admin-noties span.has-msg {
    font-size: 10px;
    background: #cb4437;
    color: #FFF;
    padding: 3px 5px;
    border-radius: 50%;
    position: relative;
    top: -3px;
    left: -6px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.17);
}
#board-breadcrumbs a {
    color: #0972B0;
}
.admin-page-info {
    background: url(../images/admin-banner-bg.png);
    padding: 15px;
    color: #FFF;
    position: fixed;
    top: 32px;
    z-index: 10;
    width: Calc(100% - 210px);
}
.FeaturedPanel a {
    color: #FFF;
}
.system-version {
    position: absolute;
    bottom: 10px;
    font-size: 11px;
    color: #FFF;
    text-align: center;
    width: 100%;
}
.system-version span {
    display:inline-block;
    margin-left:3px
}



/***** Redesign table *****/
.table-bordered>thead {
    border:none !Important;
    background: #12B1E0;
}
.table-bordered >thead > tr > td > a, .table-bordered >thead {
    color: #438EB9;
    height: 40px;
}
.table-bordered, .table>colgroup+thead>tr:first-child>td {
    border-color: #E5E5E5;
    border-style: solid;
    border-width: 0 1px 0 0
;
    height: 46px;
}
.table-bordered, .table>colgroup+thead>tr:first-child>td:last-child {
    border-right: 1px solid #F5F6FA;
}
.table>thead+tbody>tr:first-child>td {
    border-top:none
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #FFF;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #EAEBEF;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    vertical-align: middle;
    transition: all 0.1s linear;
}
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
    background-color: #FAFAFA;
}
td.table-field-product-code {
    color: #A80000;
    font-size: 12px;
}
td.table-field-title {
    font-weight: 700;
}
td.table-field-image {
    padding: 3px !important;
    margin: 0;
    text-align: center;
}

td.table-field-image img {
    border: 1px solid #CCC;
}

td.table-field-product-price {
    color: #136C00;
    font-weight: bold;
}
td.table-field-product-discount-price {
    color: #0668A6;
    font-weight: bold;
}
td.table-row-features {
    font-weight: 700;
}

td.table-row-features .danger {
    color: #BD0101;
}

/***** Product tabs *****/
.admin-tab-title > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #ededed;
    border-bottom: 1px solid #e1e1e1;
    border-style: solid;
    border-color:  #e1e1e1;
    border-width: 0 0 1px 0;
    position: fixed;
    top: 80px;
    z-index: 10;
    width: 100%;
}

.admin-tab-title > ul li {
    float: left;
    background: transparent !important;
    border: none !important;
    outline: none !important;
}
.admin-tab-title > ul li a {
    padding: 10px 20px;
    display: block;
    border-left: 1px solid #e1e1e1;
    text-decoration: none;
    outline: none !important;
    color: #606060 !important;
    font-weight: 700;
}
div#insert_node_tabs {
    border: none;
}
.admin-tab-title > ul > li.ui-tabs-active a {
    background: #FFF;
    position: relative;
    bottom: -1px;
    padding-top: 10px;
}

.admin-tab-title > ul li:first-child a {
    border: none;
}
.node-tab-content {
    background: transparent !important;
    border: none !important;
    padding-top: 0;
}

/***** Product insert form *****/
.MultiImages_Container .MultiImages_Item img {
    border: 1px solid #CCC;
}

.MultiImages_Container {
    border: 2px solid #015999;
    margin: 10px 0;
    padding: 15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding: 0;
}
.form-horizontal .control-label {
    padding: 0;
    height: 35px;
    line-height: 35px;
    padding-right: 10px;
}
.node-tab-content .control-label {
    padding-right: 15px;
}
.node-tab-content .form-control {
    /* width: auto; */
    /* min-width: 45%; */
}
.form-field-full-width.form-control {
    width: 100% !important;
}

.node-tab-content textarea.form-control {
    width: 100%;
    min-height: 45px;
    padding: 10px;
    line-height: 20px;
    font-weight: 400;
}

/*** select2 ***/
.select2-container--default .select2-search--inline .select2-search__field {
    width: 100% !important;
}
.select2-container {
    width: 100% !important;
}
.VNP_NodeExtraSettings .select2-container{
    width: auto !important;
    min-width: 100px;
}
.VNP_NodeExtraSettings .control-label {
    width: 20% !important;
}
.select2-container--default .select2-selection--multiple {
    border-radius: 0 !important;
    padding: 0px 0px 5px 0px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border-radius: 2px !important;
    padding: 5px 8px !important;
}

#product-main-info .form-control {
    width: auto;
    min-width: 45%;
}
.insert-box label.control-label {
    padding-right: 15px;
}
textarea.form-control {
    min-height: 68px;
}


/********** Share box style **********/
.netbit-share-box {
    padding: 15px !important;
    position: relative !important;
}

.netbit-share-box .groups {
    width: 30% !important;
    float: left;
    margin-right: 15px;
    border-radius: 3px !important;
    overflow: hidden;
    margin-top: 40px;
}

.netbit-share-box .groups h3 {
    font-weight: bold !important;
    font-size: 13px !important;
    margin-bottom: 0;
    background: #425F9C;
    padding: 10px;
    color: #FFF;
}

.netbit-share-box .groups .group-items > label {
    width: 100% !important;
    display: block !important;
    /* padding: 8px 11px !Important; */
    background: #FFF;
    border-bottom: 1px solid #E4E2E2;
    cursor: pointer;
    transition: all 0.2s;
    border: 1px solid #E4E2E2;
    border-top: none;
    box-sizing: border-box !important;
}

.netbit-share-box .groups .group-items > label span {
    font-weight: bold;
    font-size: 13px;
    display: block;
    padding: 8px 10px;
}
.netbit-share-box .groups .group-items > label input[type="checkbox"] {
    display: block;
    float: left;
    position: relative;
    top: 9px;
    left: 10px;
    margin-right: 15px;
}

.netbit-share-box .groups .group-items > label:hover {
    background: #F0F0F0;
}
.netbit-share-box .groups .group-items > label.post-to-wall {
    background: #FF9824;
    border: none;
}
.share-action-btns {
    position: fixed !important;
    z-index: 20;
}

.share-action-btns button {
    padding: 6px 15px !Important;
    display: inline-block;
    background: green !important;
    color: #FFF !important;
    cursor: pointer !important;
    font-weight: 700 !important;
    font-size: 12px !important;
}
.group-items {
    /* border: 1px solid #E4E2E2 !important; */
    border-top: none !important;
}
.netbit-share-box .groups .group-items > label.success {
    background: #008000;
    border: none;
    position: relative;
    top: -1px;
    padding-top: 1px;
}

.netbit-share-box .groups .group-items > label.error {
    background: #C80303;
    border: none;  position: relative;  top: -1px;  padding-top: 1px;
}

.netbit-share-box .groups .group-items > label.success span, .netbit-share-box .groups .group-items > label.error span {
    color: #FFF;
}
.netbit-share-box .groups .group-items > label.post-to-wall span {
    color: #FFF;
}
.SettingsContent .form-group {
    height: 41px;
    overflow: hidden;
}
.page-header {
    border: none!important;
}

