.label{display:inline;padding:.2em .6em .3em;font-size:75%;font-weight:bold;line-height: 1;color:#fff;text-align:center;/* white-space:nowrap; */vertical-align:baseline;border-radius:.25em}.label[href]:hover,.label[href]:focus{color:#fff;text-decoration:none;cursor:pointer}.label:empty{display:none}.btn .label{position:relative;top:-1px}.label-default{background-color:#999}.label-default[href]:hover,.label-default[href]:focus{background-color:#808080}.label-primary{background-color:#428bca}.label-primary[href]:hover,.label-primary[href]:focus{background-color:#3071a9}.label-success{background-color:#5cb85c}.label-success[href]:hover,.label-success[href]:focus{background-color:#449d44}.label-info{background-color:#5bc0de}.label-info[href]:hover,.label-info[href]:focus{background-color:#31b0d5}.label-warning{background-color:#f0ad4e}.label-warning[href]:hover,.label-warning[href]:focus{background-color:#ec971f}.label-danger{background-color:#d9534f}.label-danger[href]:hover,.label-danger[href]:focus{background-color:#c9302c}

body {padding-bottom: 114px}
#bottom-admin-bar {
    position:fixed;
    bottom: 0;
    z-index: 9;
    width: 100%;
    left: 0;
}
div.VNP_SysStat {
    padding: 3px 10px;
    background: #FFF;
    z-index: 5;
    /* border-top: 1px solid #CCBDCC; */
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    text-align: right;
    height: 34px;
    line-height: 30px;
    width: 100%;
}
#VNP_DBQueryStatistics {
    white-space: normal;
    /* border: 1px solid #CCC; */
    background: #FFF;
    opacity: 0;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    z-index: 9;
    margin: 0;
    position: absolute;
    bottom: 28px;
}
#VNP_DBQueryStatistics > div {
    display: block;
    text-align: left;
    font-size: 13px;
    margin: 5px
}
div.VNP_SysStat a {
    padding-top: 5px;
}

#top-design-blocks {
    height: 80px;
    width: 100%;
    background: #FFF;
    border-top: 3px solid #CCBDCC;
    box-shadow: 0 0 3px #CCC;
    z-index: 5;
}

form.switchModForm {
    display: inline-block;
}
form.switchModForm input {
    padding: 4px 8px;
    box-shadow: 0 2px 1px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.4) inset;
    background-color: #333;
    color: #fff;
    border: 1px solid #000 !important;
    border-radius: 2px;
    font-size: 12px;
    cursor: pointer;
    position: relative;
    top: -2px;
    line-height: 14px;
}
form.switchModForm input:hover {
    background-color: #3F3F3F;
}
form.switchModForm input:focus {
    box-shadow: 0 2px 1px rgba(3, 3, 3, 0.14),0 1px 0 rgba(255, 255, 255, 0) inset;
    background-color: #3F3F3F;
    outline: none;
}
ul.list-blocks {
    list-style: none;
    margin: 0;
    padding: 8px;
}
ul.list-blocks li {
    color: #3e6d8e;
    background-color: #e0eaf1;
    border-bottom: 1px solid #b3cee1;
    border-right: 1px solid #b3cee1;
    padding: 3px 6px;
    margin: 2px 2px 2px 0;
    text-decoration: none;
    font-size: 90%;
    line-height: 1.4;
    white-space: nowrap;
    display: inline;
    margin: 0 8px 8px 0;
    cursor: pointer;
    float: left;
}
ul.list-blocks li:hover {
    background-color: #c4dae9;
    border-bottom: 1px solid #c4dae9;
    border-right: 1px solid #c4dae9;
    text-decoration: none;
}
.theme-area-mark-up {
    min-height: 28px;
    background: rgba(255, 255, 255, 0.52);
    border: 1px dashed #c1c1c1;
    padding: 0 0 5px 0;
    box-sizing: border-box;
    border-spacing: 5px;
}
.theme-block-mark-up {
    position: relative;
    min-height: 30px;
}

.theme-area-mark-up:hover {
    border-color: #f7941d;
}

ul.block-functions {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none
;
    z-index: 8;
}

ul.block-functions li {
    display:block;
    float: left;
    font-size: 12px;
    line-height:30px;
    padding: 0 8px;
    background: #E7E7E7;
    cursor:pointer;
    border-left: 1px solid rgba(255, 255, 255, 0.52);
    font-weight: bold;
}
li.vnp-ready-block, li.place-holder-block {
    list-style: none !important;
}
ul.block-functions li:first-child {
    border:none
}
ul.block-functions li:hover {
    background-color: #C3C3C3;
}

/**** block config iframe ****/
.block-config-wrapper {
    padding: 10px;
    background: #FFF;
}

/**** Drag block ****/
ul.block-functions li[action="drag"] {
    cursor: move;
}
.place-holder-block {
    background: rgba(51, 102, 255, 0.25);
    border: 1px dashed #3366FF;
    min-height: 30px;
    margin: 5px 0;
}
/**** Page design save popup ****/
.design-save-popup {
    padding: 5px 15px !important;
    width: 200px !important;
    height: 100px !important;
}
.design-save-popup div {
    padding: 5px 0 !important;
}
.design-save-popup div input[type="checkbox"] {
    position: relative;
    top: 1px;
}
.design-save-popup div label {
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}