<div class="container">
    <h1 class="postTitle">{$page.title}</h1>
    <div class="addtimePostC">
        <div class="social-btns">
            <div class="fb-like" data-href="{do}echo Router::GenerateThisRoute(){/do}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
        </div>
    </div>
    <div class="contentPost">
        {$page.body}
    </div>
    <div id="fb-root"></div><script>(function(d, s, id) {        var js, fjs = d.getElementsByTagName(s)[0];        if (d.getElementById(id)) return;        js = d.createElement(s); js.id = id;        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5&appId=1686193894972413";        fjs.parentNode.insertBefore(js, fjs);    }(document, 'script', 'facebook-jssdk'));</script>
</div>