@import "../fonts/roboto/style.css";

body {
    font-family: "Roboto Regular", Arial, Helvetica, sans-serif;
    font-size: 13px;
}
strong {
    font-weight: normal;
    font-family: "Roboto Bold";
}
ul, ol {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nopadding {
    padding-left: 0!important;
}
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959;font-size: 13px;margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
.shipping-header {
    padding: 15px 0;
    background: #ffffff;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.logo {
    padding-top: 5px;
    padding-bottom: 5px;
}
.logo > a > img {
    width: 100%;
}
.bs-wizard > .bs-wizard-step.disabled .bs-wizard-stepnum {
    color: #a5a5a5;
}
.hotline_inner {
    overflow: hidden;
    padding: 3px;
    border: 1px #d4d4d4 solid;
    border-radius: 36px;
    height: 37px;
}

.pull-left.icon {
    width: 30px;
    padding: 7px;
    border-radius: 50%;
    background: #f7941d;
    height: 30px;
    font-size: 17px;
    color: #fff;
}

.pull-left.phone {
    width: 113px;
    padding: 4px;
    font-size: 15px;
    font-family: "Roboto Bold";
    padding-left: 13px;
}

.hotline {padding-top: 18px;}
.terms {
    float: left;
    margin-bottom: 0;
}
.copyright {
    float: left;
    margin-left: 150px;
    margin-bottom: 0;
    font-size: 11px;
    padding: 2px 0;
}
.terms a:first-child {
    padding-right: 10px;
}
.terms a:first-child+a {
    padding-right: 10px;
    padding-left: 10px;
}
.terms a:first-child+a+a {
    padding-left: 10px;
}
.terms a {
    color: #000;
    font-size: 11px;
    padding: 2px 0;
    display: inline-block;
}
.shipping-footer {
    padding: 20px 0;
}
.logo img {
    width: 100%;
}
h1.title-login {
    margin: 10px 0;
    font-size: 19px;
}
.form-area {
    padding: 21px;
}
.iradio_minimal label {
    margin-bottom: 0;
}
.form-radio ul li label {
    margin: 0;
    font-family: "Roboto Bold";
    display: block;
    float: left;
    margin-left: 11px;
    text-transform: uppercase;
}
.form-radio ul li {
    margin: 5px 0;
    overflow: hidden;
    padding: 3px 0;
    padding-left: 5px;
}
.iradio_minimal {
    float: left;
}
.form-radio ul li:hover {
    background: #f7f7f7;
}
label {
    font-family: "Roboto Bold";
}
.panel-body {
    padding: 15px 4px;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #FFFFFF!important;
}
button#login {
    width: 100%;
    height: 36px;
    background: #f7941d;
    border: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
}
button#resgiter {
    width: 100%;
    height: 36px;
    background: #f7941d;
    border: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
}
.btn-facebook:hover, .open>.btn-facebook.dropdown-toggle {
    color: #fff;
    background-color: #2d4373;
    border-color: rgba(0,0,0,.2);
}
.btn-social-icon>:first-child, .btn-social>:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,.2);
}
.btn-social, .btn-social-icon {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,.2);
}
.review_cart {
    padding: 10px;
}

.review_cart_title {
    padding-bottom: 10px;
    border-bottom: 1px #d6d6d6 solid;
    text-transform: uppercase;
}

.review_cart > table {
    display: block;
    width: 100%;
}

.review_cart > table > tbody > tr > td {
    font-size: 12px;
}

.review_cart > table > tbody > tr {
    margin: 5px 0;
    display: block;
    border-bottom: 1px #d6d6d6 solid;
    padding: 7px 0;
    width: 100%;
}
.review_cart > table > tbody > tr > td.title {
    width: 70%;
}

.review_cart > table > tbody > tr > td.total {
    width: 30%;
}
p.tamtinh .title {
    width: 70%;
    display: block;
    float: left;
}

p.tamtinh .value {
    width: 30%;
    display: block;
    float: left;
    text-align: right;
}

p.tamtinh {
    overflow: hidden;
}
.review_cart > table > tbody > tr > td.title a {
    color: #f7941d;
}
p.tamtinh .title.thanhtien {font-family: "Roboto Bold";width: 60%;}

p.tamtinh .value.thanhtien {
    font-size: 18px;
    color: #f7941d;
    width: 40%;
}
a.editCart {
    width: 111px;
    display: block;
    padding: 6px;
    background: #e8e8e8;
    text-align: center;
    text-transform: uppercase;
    color: #b7b7b7;
}
span.error {
    font-size: 11px;
    padding: 6px 0;
    display: block;
    color: #d80606;
    text-align: right;
}

.selectShip > ul > li > label ,.selectPayment > ul > li > label {
    font-family: "Roboto Regular";
    font-weight: normal;
    padding-left: 11px;
    margin: 0;
}
.selectShip {
    margin-bottom: 20px;
}
.selectPayment > ul > li {
    margin: 11px 0;
}
ul.bankList {
    clear: both;
    height: 202px;
    width: 636px;
}
ul.bankList li {
    list-style-position: outside;
    list-style-type: none;
    cursor: pointer;
    float: left;
    margin-right: 0;
    padding: 5px 2px;
    text-align: center;
    width: 90px;
}
.list-content li {
    list-style: none outside none;
    margin: 0 0 10px;
}

.list-content li .boxContent {
    display: none;
    width: 636px;
    border:1px solid #cccccc;
    padding:10px;
}
.list-content li.active .boxContent {
    display: block;
}
.list-content li .boxContent ul {
    height:280px;
}

i.VISA, i.MASTE, i.AMREX, i.JCB, i.VCB, i.TCB, i.MB, i.VIB, i.ICB, i.EXB, i.ACB, i.HDB, i.MSB, i.NVB, i.DAB, i.SHB, i.OJB, i.SEA, i.TPB, i.PGB, i.BIDV, i.AGB, i.SCB, i.VPB, i.VAB, i.GPB, i.SGB,i.NAB,i.BAB
{ width:80px; height:30px; display:block; background:url(https://www.nganluong.vn/webskins/skins/nganluong/checkout/version3/images/bank_logo.png) no-repeat;}
i.MASTE { background-position:0px -31px}
i.AMREX { background-position:0px -62px}
i.JCB { background-position:0px -93px;}
i.VCB { background-position:0px -124px;}
i.TCB { background-position:0px -155px;}
i.MB { background-position:0px -186px;}
i.VIB { background-position:0px -217px;}
i.ICB { background-position:0px -248px;}
i.EXB { background-position:0px -279px;}
i.ACB { background-position:0px -310px;}
i.HDB { background-position:0px -341px;}
i.MSB { background-position:0px -372px;}
i.NVB { background-position:0px -403px;}
i.DAB { background-position:0px -434px;}
i.SHB { background-position:0px -465px;}
i.OJB { background-position:0px -496px;}
i.SEA { background-position:0px -527px;}
i.TPB { background-position:0px -558px;}
i.PGB { background-position:0px -589px;}
i.BIDV { background-position:0px -620px;}
i.AGB { background-position:0px -651px;}
i.SCB { background-position:0px -682px;}
i.VPB { background-position:0px -713px;}
i.VAB { background-position:0px -744px;}
i.GPB { background-position:0px -775px;}
i.SGB { background-position:0px -806px;}
i.NAB { background-position:0px -837px;}
i.BAB { background-position:0px -868px;}

ul.cardList li {
    cursor: pointer;
    float: left;
    margin-right: 0;
    padding: 5px 4px;
    text-align: center;
    width: 90px;
}
.content_payment > .boxContent {
    padding: 15px 0;
}
input[name=bankcode] {
    display: none;
}
li.bank-online-methods.choose {
    border: 1px #F5A836 dashed;
}
ul.cardList li {
    cursor: pointer;
    float: left;
    margin-right: 0;
    padding: 5px 4px;
    text-align: center;
    width: 103px;
    border: 1px #f6f6f6 dashed;
    margin-bottom: 9px;
    margin-right: 9px;
}
.pull-left.logo-brand {
    width: 20%;
}

.pull-left.info-ck {
    width: 80%;
    padding-left: 20px;
}

.list_chuyenkhoan > ul > li {
    overflow: hidden;
    margin: 5px 0;
    padding: 5px 0;
    border-bottom: 1px #dadada solid;
}

.list_chuyenkhoan > ul > li:last-child {
    border: none;
}
p.recive_name , p.recive_address, p.recive_phone {
    margin-bottom: 0;
}

p.recive_name {
    margin-top: 10px;
    font-family: "Roboto Bold";
}
p.recive_phone {
    margin-bottom: 10px;
}
button.finsh {
    border: none;
    width: 150px;
    text-transform: uppercase;
    color: #fff;
    padding: 7px;
    background: #f7941d;
}
.copyrightF {

    font-size: 11px;

    padding: 2px;

    text-align: center;
}
.selectShip > ul > li {
    padding: 6px 0;
}
.sliptTwo {
    overflow: hidden;
}

.pull-left.halfPart {
    width: 50%;
}

.pull-left.halfPart:first-child {
    padding-right: 5px;
}
.pull-left.halfPart:last-child {
    padding-left: 5px;
}
button#save_ship_infomation {
    border: none;
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 3px;
    background: #2e3192;
    color: #fff;
}
.wapper_loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(193, 190, 190, 0.34);
    z-index: 9999999999;
    background-image: url("../images/ring-alt.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    display: none;
}
.wapper_loader_show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(193, 190, 190, 0.34);
    z-index: 9999999999;
    background-image: url("../images/ring-alt.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px 60px;
}