@media (min-width: 1200px) {
    .slider {
        width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }
    .slider {
        padding-left: 15px;
        padding-right: 15px;
    }
}
/*=====================================================
=            Bootstrap 2.3.2 Media Queries            =
=====================================================*/
@media only screen and (max-width : 1200px){
    .box-title-line {
        height: auto;
    }
    .user-entry {
        width: 100%;
    }
    .quick-menu {
        display: none;
    }

}

@media only screen and (max-width : 979px){
    .col-md-9.no-padding-left-element {
        padding-left: 15px!important;
    }
    .no-padding-right {
        padding-right: 15px!important;
    }
    ul.sub-category > li {
        padding: 4px 0;
    }
    .book-item > a > .book-img {
        width: 100%;
    }
    .book-item > .book-infomation {
        width: 100%;
    }
    .box-title-line {
        margin-top: 5px;
    }
    .box-title-line > .sub-category > li {
        width: 25%;
    }
    h2.box-title-text {
        margin-top: 11px;
    }
}
@media only screen and (max-width : 991px){
    .list-author ul li {
        float: left;
        width: 50%;
        clear: inherit;
    }

    .list-author ul {
        overflow: hidden;
        width: 100%;
    }
}
@media only screen and (max-width : 767px){
    .box-title-line > .sub-category > li {
        width: 32%;
    }
    .book-active {
        padding: 83% 0;
    }
    .box-title-line {
        border-bottom: none;
        display: none;
    }
    .category-content {
        padding: 5px 0;
    }
    .book-price {
        border-bottom: none;
    }
}

@media only screen and (max-width : 480px){
    .box-title-line > .sub-category > li {
        width: 49%;
        height: 40px;
        padding: 9px 0;
    }
    .box-title-line > .sub-category > li:nth-child(2n) > a {
        border: none;
    }
    .category-content {
        padding: 0px 0;
    }
    h5.footerColtitle {
        border-bottom: 1px #cacaca solid;
        padding-bottom: 9px;
    }
    ul.lSPager.lSpg {
        margin-top: 15px!important;
    }

    .lSSlideOuter .lSPager.lSpg>li a {
        background: #ccc!important;
    }

    .lSSlideOuter .lSPager.lSpg>li.active a, .lSSlideOuter .lSPager.lSpg>li:hover a {
        background: #f6931c!important;
    }
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .footerCol {
        padding: 0 9px;
        margin-bottom: 17px;
    }
    .header_bar .user-entry h1 {
        text-align: center;
    }
    ul.group-tabs {
        margin-top: 7px;
    }

    .book-item-category {
        width: 50%;
    }
    .book-item-category > a > .book-category-info > h3 {
        height: 40px;
    }

    .pull-left.price_rule {
        width: 40%;
    }

    .pull-left.price_discount_show {
        width: 60%;
    }

    .pull-left.price_discount_show > span {
        margin-left: 0;
        font-size: 12px;
    }
    .lovebookInfomation {
        padding: 6px 8px;
    }
    .breadcrumb>li {
        width: 100%;
    }

    .breadcrumb>li+li:before {
        color: #f7941d;
        content: "\f105";
        font: normal normal normal 14px/1 FontAwesome;
        padding-left: 0;
    }

    ol#board-breadcrumbs > li:first-child:before {
        content: "\f015";
        font: normal normal normal 14px/1 FontAwesome;
        color: #f7941d;
        padding-left: 0;
        padding-right: 7px;
    }

    .breadcrumb {
        background: #f5f5f5;
    }
    .detail-center {
        padding: 0 5px;
    }
    div#mota {
        padding: 0 5px;
    }
    div#thongtin {
        padding: 0 5px;
    }
    div#nhanxet {
        padding: 0 5px;
    }


}

@media only screen and (max-width : 320px){

}

.nav_mobile_left,.nav_mobile_right {
    float: left;
    width: 15%;
    height: 60px;
}

.nav_mobile_left > a {
    display: block;
    background: url('../images/navmobile.png') left center no-repeat;
    background-size: 30px 30px;
    width: 100%;
    height: 100%;
    background-position-x: 8px;
}
.nav_mobile_right > a {
    display: block;
    background: url('../images/cart_mobile.png') left center no-repeat;
    background-size: 30px 30px;
    width: 100%;
    height: 100%;
    background-position-x: 8px;
}
.header_mobile_inner {
    background: #f7941d;
    overflow: hidden;
}
.logo-mobile {
    float: left;
    width: 70%;
    height: 60px;
}

.logo-mobile {
    text-align: center;
}

.logo-mobile > a > img {
    width: 172px;
    max-height: 50px;
}

.logo-mobile > a {
    display: block;
    padding: 6px 0;
}
.mobile_search > .search-input > button {
    text-indent: -999px;
    width: 50px;
    background: #f7941d url('../images/search_mobile.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    outline: none;
}
.mobile_search {
    margin-top: 1px;
}