@import "../fonts/roboto/style.css";

body {
    font-family: "Roboto Regular", Arial, Helvetica, sans-serif;
    font-size: 13px;
}
ul, ol {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

a {
    text-decoration: none !important;
}

.book-mark {
    float: left;
    width: 20%;
    height: 600px;
}
.main-read {
    float: left;
    width: 80%;
    height: 600px;
    margin-top: 7px;
    padding-right: 6px;
    padding-bottom: 6px;
}
iframe.box-read {
    height: 100%;
}
.header > h2 {
    margin: 0;
    padding: 11px 10px;
    font-size: 15px;
    font-family: "Roboto Bold";
    background: #2e3192;
    color: #fff;
    text-transform: uppercase;
}
body {
    overflow: hidden;
    background: #eaeaea;
}

.sumary-book {
    padding: 6px;
    height: 50%;
}

.pull-left.image {
    width: 30%;
}

.pull-left.infomation {
    width: 70%;
    padding-left: 6px;
}

.pull-left.infomation > h2 {
    font-size: 13px;
    margin: 0;
    margin-bottom: 7px;
    font-family: "Roboto Bold";
}

.pull-left.infomation > p {
    margin-bottom: 0;
    font-size: 12px;
    color: #808080;
}
p.description {
    margin: 5px 0;
    text-align: justify;
    font-size: 12px;
}

.add_cart {
    display: block;
    padding: 7px;
    text-align: center;
    text-transform: uppercase;
    background: #f7941d;
}

.add_cart > a {
    color: #fff;
    letter-spacing: 4px;
}
.book-mark > hr {
    border-color: #ccc;
    margin: 10px 0;
    margin-bottom: 0;
}

.box-title {
    padding: 6px;
    text-transform: uppercase;
    color: #2e3192;
    font-family: "Roboto Bold";
}
ul.crosual > li {
    overflow: hidden;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px #ccc dashed;
}
ul.crosual > li:last-child {
    border: none;
}
.apdaper {
    padding: 6px;
}
.apdaper {
    overflow: hidden;
}