@import "../fonts/roboto/style.css";

body {
    font-family: "Roboto Regular", Arial, Helvetica, sans-serif;
    font-size: 13px;
}
strong {
    font-weight: normal;
    font-family: "Roboto Bold";
}
ul, ol {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
input {
    outline: none!important;
}
a {
    text-decoration: none !important;
}
th {
    font-weight: normal!important;
    font-family: "Roboto Bold";
}
label {
    display: block;
    font-weight: normal;
    /* font-family: "Roboto Bold"; */
}
.no-padding-right {
    padding-right: 0 !important;
}

.user-entry {
    width: 50%;
    float: left;
}

.header_bar {
    background: #f7f7f7;
    height: 30px;
    padding: 7px 0;
}

.header_bar .user-entry h1 {
    font-size: 13px;
    margin: 0;
    text-transform: uppercase;
}

.quick-menu {
    float: left;
    width: 50%;
}

ul.quick-menu-list {
    float: right;
}

ul.quick-menu-list li {
    display: inline-block;
}

ul.quick-menu-list li a {
    display: block;
    padding: 0 12px;
    border-right: 1px #ccc solid;
    color: #848484;
}

ul.quick-menu-list li:last-child a {
    padding-right: 0;
    border: none;
}

.header {
    padding: 20px 0;
}

.logo {
    background: url("../images/logo_bg_right.png") right center no-repeat;
}

.search-input {
    position: relative;
}

.search-input > input {
    height: 33px;
    width: 100%;
    padding: 6px;
    border: 1px #f7941d solid;
    outline: none;
}

.search-input > button {
    position: absolute;
    top: 0;
    right: 0;
    height: 33px;
    border: none;
    width: 86px;
    background: #f7941d;
    color: #fff;
    text-transform: uppercase;
}

.seach-box {
    padding-left: 26px;
}

.seach-sugget {
    margin-top: 7px;
    color: #ccc;
    font-family: "Roboto Italic";
}

.active-button {
    width: 121px;
    height: 33px;
    border: 1px #e8e8e8 solid;
    float: right;
}

.active-button .active-button-icon {
    height: 19px;
    display: block;
}

.active-button.auth .active-button-icon {
    background: url("../images/person.png") center no-repeat;
    width: 19px;
}

.active-button.shopping .active-button-icon {
    background: url("../images/cart.png") center no-repeat;
    width: 24px;
}

.active-button-inner {
    padding: 6px;
}

.active-button .active-button-name {
    padding-left: 5px;
    text-transform: uppercase;
    /* font-family: "Roboto Bold", Arial, Helvetica, sans-serif; */
    color: #ccc;
}

.active-button:last-child {
    margin-right: 16px;
}

/*Navigator*/
.navigator {
    height: 35px;
}

.menu-navigator {
    height: 35px;
    background: #f7941d;
    cursor: pointer;
}

.menu-navigator > i {
    background: url("../images/navigator.png") center no-repeat;
    width: 10%;
    height: 15px;
    display: block;
    float: left;
    margin: 10px;
}

.menu-navigator > span {
    display: block;
    float: left;
    padding-left: 10px;
    text-transform: uppercase;
    color: #fff;
    font-family: "Roboto Bold";
    font-size: 14px;
    padding: 8px;
    width: 80%;
}

.menu-navigator {
    clear: both;
}

.bg-inner.gray {
    background: #f7f7f7;
}

.site-menu ul > li {
    display: inline-block;
    height: 35px;
}

.site-menu ul > li > a {
    display: block;
    height: 35px;
    padding: 9px 16px;
    text-align: center;
    text-transform: uppercase;
    color: #2e3192;
    font-family: "Roboto Bold";
}

.site-menu ul > li.has-icon > a > span {
    margin-right: 7px;
}

/*SLIDER*/

.slider_carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

ul.rslides_tabs {
    position: absolute;
    z-index: 99;
    bottom: 20px;
    right: 143px;
}

ul.rslides_tabs > li {
    display: inline-block;
    margin-right: 3px;
}

ul.rslides_tabs > li > a {
    display: block;
    text-indent: -99px;
    overflow: hidden;
    width: 23px;
    height: 6px;
    background: #ccc;
}

ul.rslides_tabs > li.rslides_here > a {
    background: #f7941d;
}

.slider {
    position: relative;
}

.list-category-wapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100%;
}

ul.all-category > li > a {
    display: block;
    text-transform: uppercase;
    border-bottom: 1px rgba(255, 255, 255, 0.33) solid;
    position: relative;
    z-index: 100;
}

ul.all-category {
    background: #2e3192;
    height: 100%;
    position: relative;
}

.list-category-wapper .col-md-3.no-padding-right {
    height: 100%;
}

.list-category-wapper .container {
    height: 100%;
}

.list-category-wapper .container .row {
    height: 100%;
}

ul.all-category > li > a >h3:after {
    content: "\f105";
    font-family: FontAwesome;
    position: absolute;
    right: 13px;
}
ul.all-category > li > a > h3 {
    color: #fff;
    font-size: 13px;
    margin: 0;
    padding: 8px 11px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
ul.all-category > li > a > h3:hover {
    padding: 8px 15px;
}

ul.all-category > li {
}

ul.all-category > li > .mega_menu {
    position: absolute;
    top: 0;
    display: none;
    background: #eaeaea;
}
ul.all-category > li:hover > .mega_menu {
    display: block;

}
.col-mega-menu {
    float: left;
    width: 50%;
    height: 150px;
}

.col-mega-menu > h4 {
    margin: 0;
    font-size: 13px;
    font-family: "Roboto Bold";
    text-transform: uppercase;
}

.mega_menu {
    padding: 9px 16px;
    background-repeat: no-repeat;
    background-position: right bottom;
}
.col-mega-menu > ul > li> a {
    display: block;
    padding: 3px 0;
    font-size: 13px;
    color: #6f6f6f;
}

.col-mega-menu > ul {
    padding-top: 9px;
}
.box-title {
    position: relative;
}

h2.box-title-text {
    width: 100%;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 0 10px 40px;
    font-family: "Roboto Bold";
    background: url("../images/icon.png") left center no-repeat #2e3192;
    background-position-x: 8px;
    margin-bottom: 0;
    border-bottom: 2px #f7941d solid;
}
.box-title-line {
    height: 36px;
    width: 100%;
    margin-top: 20px;
    border-bottom: 2px #e6e6e6 solid;
}
.star-only img {
    width: 16px;
    height: 16px;
}
span.count-rate {
    display: block;
    padding: 2px;
    color: #ccc;
    font-size: 12px;
}
.book-img {
    width: 45%;
}

.book-infomation {
    width: 55%;
}
.carousel-book {
    margin-top: 10px;
}
.book-infomation.pull-left {
    height: 100%;
    padding: 5px;
}

.book-title {
    color: #2e3192;
    font-family: "Roboto Bold";
    line-height: 15px;
    text-align: justify;
    border-bottom: 1px #ccc solid;
    padding-bottom: 7px;
}
.book-author {
    padding: 3px 0;
    color: #828282;
    font-size: 12px;
}

.book-price {
    padding-bottom: 3px;
    border-bottom: 1px #ccc solid;
}

span.newprice {font-family: "Roboto Bold";color: #b10000;}

span.oldprice {
    color: #9e9a9a;
    text-decoration: line-through;
}
.book-preview {
    padding: 3px 0;
}
.book-item {
    background: #ffe9cf;
    position: relative;
}
.book-active-button {
    display: block;
    padding: 6px 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Roboto Bold";
    border-width:1px;
    border-style:solid;
    width: 130px;
    margin: 0 auto;
    margin-bottom: 7px;
}
a.book-active-button.read-frist {
    color: #c3c2c0;
}

a.book-active-button.buy-now {
    color: #c3c2c0;
}
ul.sub-category > li {
    display: inline-block;
    padding: 10px 0;
}

ul.sub-category > li > a {
    display:  block;
    text-transform: uppercase;
    color: #989898;
    padding: 0 15px;
    border-right: 1px #e0e0e0 solid;
}

ul.sub-category > li:last-child > a {
    border: none;
}

/*Slider Small*/

.slider-category  .lSPager.lSpg {
    margin: 0!important;
    position: absolute;
    bottom: 10px;
    left: 40px;
}

.slider-category  .lSPager.lSpg >li > a {
    width: 12px!important;
    height: 12px!important;
    background: transparent!important;
    border: 2px #ffffff solid!important;
}

.slider-category .lSPager.lSpg > li.active > a {
    background: #f7941d!important;
}

.slider-category .lSPager.lSpg > li {
    padding: 0!important;
    margin-right: 5px!important;
}
.list-author > ul >li {
    clear: both;
    margin-bottom: 11px;
    overflow: hidden;
}

.list-author > ul >li > a {
    display: block;
    overflow: hidden;
}

.list-author > ul >li > a >.author-image {
    width: 24%;
}

.list-author > ul >li > a >.author-name {
    width: 76%;
    padding-left: 15px;
}
.list-author > ul >li > a >.author-name > p {
    margin-bottom: 0;
}

.list-author > ul >li > a >.author-name > p.name {
    font-family: "Roboto Bold";
    color: #2e3192;
}

.list-author > ul >li > a >.author-name > p.avchievement {
    margin-top: 5px;
    line-height: 15px;
    color: #f7941d;
}

.list-author > ul >li:last-child {
    margin-bottom: 0;
}
.category-content {
    padding: 12px 0;
}
.carousel-book-horizontal.owl-carousel.owl-theme .owl-item {
    background: #eaeaea;
}

/*TABS*/

ul.group-tabs > li {
    display: inline-block;
    padding-right: 10px;
}

ul.group-tabs > li > a {
    padding: 0px 0px 2px 0px;
    display: block;
    text-transform: uppercase;
    color: #444;
    font-family: "Roboto Bold";
}
ul.group-tabs > li.active > a {
    border-bottom: 2px #f7941d solid;
    color: #f7941d;
}
.book-in-category > .tab-content {
    margin: 10px 0;
}
a.view_all {
    width: 123px;
    margin: 5px 0;
    text-transform: uppercase;
    font-family: "Roboto Bold";
    color: #f7941d;
    border-bottom: 2px #f7941d solid;
}
.slider-category {
    position: relative;
}
.book-title {
    height: 51px;
}
.list-book-style-3 {
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px;
}

.book-item-style-3 {
    float: left;
    width: 25%;
    padding: 5px;
    height: 188px;
}
.book-item-style-3-inner {
    background: #ffe9cf;
    overflow: hidden;
    position: relative;
}
.book-item-style-3-inner > .book-img >img {
    height: 179px;
}
.book-active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(60, 57, 57, 0.89);
    text-align: center;
    padding: 56px 0;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.book-item:hover > .book-infomation > .book-active {
    opacity: 1;
}
.book-item-style-3-inner:hover > .book-infomation > .book-active {
    opacity: 1;
}
h4.title_block {
    margin: 20px 0;
    margin-bottom: 5px;
    font-size: 13px;
    text-transform: uppercase;
    font-family: "Roboto Bold";
    color: #2e3192;
}

.introduction_inner {
    background: #f7f7f7;
    border: 1px #e8e8e8 solid;
    border-radius: 3px;
    padding: 8px;
    text-align: justify;
    line-height: 18px;
}
.introduction-text {
    padding-top: 15px;
}
.introduction-text {
    padding-top: 15px;
}
.footer {
    margin-top: 15px;
    padding-top: 20px;
    background: #f7f7f7;
    border-top: 1px #e8e8e8 solid;
    padding-bottom: 20px;
}

h5.footerColtitle {
    margin-top: 0;
    font-family: "Roboto Bold";
    text-transform: uppercase;
    font-size: 13px;
    color: #2e3192;
}

.footerCol > ul > li > a {
    color: #929292;
}
.copyright {
    background: #2e3192;
    border-top: 2px #f7941d solid;
}

.lovebookInfomation > p {
    margin-bottom: 0;
    color: #fff;
    font-size: 12px;
}

.lovebookInfomation {
    padding: 10px 0;
}

p.strong {font-family: "Roboto Bold";}

.appect_payment {
    padding: 10px 0;
}


div#menu-out-home {
    top: 35px;
    height: 268px;
    background: none;
    border: none;
    box-shadow: none;
}

div#menu-out-home ul.all-category>li>.mega_menu {
    height: 268px!important;
}

div#after_header_wapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(33, 32, 32, 0.61);
    height: 100%;
    display: none;
}

.after_header {
    position: relative;
}
div#menu-out-home {
    padding: 0;
    margin: 0;
}
.box-panel-title {
    padding: 11px 11px;
    text-transform: uppercase;
    font-size: 17px;
    border-bottom: 1px #ececec solid;
}
.box-panel-body > ul > li > a {
    display: block;
    padding: 6px 15px;
    border-bottom: 1px #f5f5f5 solid;
    text-transform: uppercase;
    color: #444;
    font-family: "Roboto Bold";
    font-size: 13px;
    position: relative;
}
.box-panel-body > ul > li > a {
    border-left: 1px #f5f5f5 solid;
    border-right: 1px #f5f5f5 solid;
}
.box-panel-body > ul > li > ul > li > a {
    border-left: 1px #f5f5f5 solid;
    border-right: 1px #f5f5f5 solid;
    display: block;
    padding: 3px 15px;
    border-bottom: 1px #f5f5f5 solid;
    text-transform: uppercase;
    font-size: 13px;
    color: #444;
}

.box-panel-body > ul > li > ul > li > ul > li > a {
    border-left: 1px #f5f5f5 solid;
    border-right: 1px #f5f5f5 solid;
    display: block;
    padding: 6px 15px;
    border-bottom: 1px #f5f5f5 solid;
    text-transform: uppercase;
    font-size: 13px;
    color: #949494;
    padding-left: 35px;
}
.box-panel-body > ul > li.has-children > a:after {
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    position: absolute;
    right: 14px;
}
h1.category-title {
    margin: 10px 0;
    font-size: 18px;
}
.box-panel {
    border: 1px #ececec solid;
    background: #f5f5f5;
}

/*Accord menu*/

ul.categories-accordion > li ul {
    display: none;
}
ul.categories-accordion > li.active > ul {
    display: block;
}
.box-panel-body > ul > li.active > a{
    color: #f7941d;
}
ul.categories-accordion > li {
    margin-bottom: 15px;
}
.filter {
    padding-bottom: 10px;
    border-bottom: 1px #ccc solid;
    height: 38px;
}

button.btn.btn-default {
    border-radius: 0;
    outline: none!important;
}

.btn-group {
    margin-left: 15px;
}

.product-mode-grid, .product-mode-list {
    height: 30px;
    outline: none;
}

.listbook-warpper {
    margin-left: -8px;
    margin-right: -8px;
}

.book-item-category{
    float: left;
    width: 25%;
    padding: 15px 8px 15px 8px;
}
.book-item-category > a > .book-category-info > h3 {
    margin: 6px 0;
    font-size: 13px;
    text-align: justify;
    color: #2e3192;
    font-family: "Roboto Bold";
    height: 27px;
}
p.book-author-category {
    margin-bottom: 0;
    font-size: 12px;
    color: #a0a0a0;
}
.book-price-category span {
    display: block;
}
span.discountceil {
    display: block;
    height: 23px;
    margin-left: 9px;
    text-align: center;
    width: 98px;
    padding: 2px;
    background: #f7941d;
    margin-top: 3px;
    color: #fff;
}
.add_cart {
    padding: 5px;
    text-align: center;
    background: #f7941d;
    text-transform: uppercase;
    color: #fff;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin-top: 5px;
}

.book-item-category:hover > a > .book-category-info > .add_cart {
    opacity: 1;
}
div#list-hoz {
    padding: 0;
    float: none;
    width: 100%;
}
#no-wapper {
    margin: 0;
}
div#list-hoz > a {
    display: block;
}

div#list-hoz > a > .book-image {
    float: left;
    width: 20%;
}

div#list-hoz > a > .book-category-info {
    float: left;
    width: 80%;
}

div#list-hoz {
    clear: both;
    margin-bottom: 10px;
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px #ccc solid;
    margin-top: 10px;
}
.description {
    clear: both;
    text-align: justify;
    display: none;
    color: #444;
    line-height: 16px;
    margin: 5px 0;
}

.book-price-category {
    clear: both;
    overflow: hidden;
}

div#list-hoz > a > .book-category-info {
    padding-left: 20px;
}

div#list-hoz > a > .book-category-info > .add_cart {
    width: 200px;
    opacity: 1;
}
div#list-hoz > a > .book-category-info > h3 {
    font-size: 16px;
}
.btn-group.btn-group-sm > button {
    outline: none!important;
}
select.filter-input {
    height: 30px;
    border: 1px #ccc solid;
    outline: none;
}
div#list-hoz > a > .book-category-info > .description {
    display: block;
}

/*Addon PageBoottrsap*/

.pagination>li:last-child > a,.pagination>li:first-child > a {
    padding: 8px;
}

li.prev.disabled {
    display: none;
}
ol#board-breadcrumbs > li > a {
    color: #7d7d7d;
}
.book-gallery {
    padding: 3px;
    border: 1px #e6e6e6 solid;
}
.detail-center > h1 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    color: #2e3192;
    font-family: "Roboto Bold";
}
.detail-center > p {
    margin-bottom: 5px;
}

p.masp {font-family: "Roboto Bold";color: #f7941d;}

.detail-center > p > a {
    color: #f7941d;
}
.addthis_native_toolbox {
    margin: 10px 0;
}
p.p_description {
    text-align: justify;
}
.hr-wrapper span {
    display: inline;
    left: 62px;
    padding: 8px;
    position: absolute;
    top: -17px;
    color: #6b6b6b;
    line-height: 16px;
    background-color: #FFF;
    transform: translate(-50%,0);
    text-transform: uppercase;
    font-family: "Roboto Bold";
}
.hr-wrapper {
    position: relative;
}
.hr-wrapper hr {
    border-color: #6b6b6b;
}
.pull-left.km_item_img {
    width: 30%;
}

.pull-left.km_item_img img {
    width: 100%;
}

.pull-left.km_item_description {
    width: 70%;
    padding-left: 11px;
}
p.km_title, p.km_qty, p.km_trigia, p.p_store{
    margin-bottom: 0;
    font-size: 12px;
}
p.km_label {
    position: relative;
    background: #f7941d;
    color: #fff;
    font-size: 11px;
    padding: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 110px;
    height: 19px;
    margin-bottom: 3px;
    text-align: center;
}

p.km_label:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(111,186,84,0);
    border-right-color: #f7941d;
    border-width: 4px;
    top: 50%;
    margin-top: -4px;
}
.km_item {
    overflow: hidden;
    clear: both;
}
.program-km ul li {
    background: url(../images/tick.png) left 11px no-repeat;
    padding-left: 19px;
}
.program-km ul li p {
    text-align: justify;
    font-size: 12px;
}

.program-km ul li p strong {
    color: #f7941d;
}
.thongtinthanhtoan {
    border: 1px #dedede solid;
}

.thanhtoanbox-title {
    padding: 15px 10px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Roboto Bold";
    /* border-bottom: 1px #dedede solid; */
    font-size: 15px;
}
table.cartbook_table {
    width: 100%;
    margin-bottom: 0;
}
p.pricebook_ban {
    margin: 0;
}

p.pricebook_tk {
    margin: 0;
}

table.cartbook_table > tbody > tr > td {padding: 7px 18px;font-size: 13px;text-transform: uppercase;}
p.pricebook_bia {
    margin: 0;
}
table.cartbook_table > tbody > tr > td > p {
    text-transform: none;
    font-family: "Roboto Bold";
    color: #f7941d;
}
table.cartbook_table > tbody > tr > td > p.pricebook_ban {
    color: #ff2626;
}
form#add_cart {
    padding: 10px 18px;
    overflow: hidden;
}

form#add_cart > input {
    width: 66px;
    height: 30px;
    border: 1px #dedede solid;
}

form#add_cart > button {
    width: 61%;
    height: 34px;
    margin-left: 5%;
    text-transform: uppercase;
    color: #fff;
    background: #2e3192;
    border: none;
    float: left;
    border-radius: 5px;
    border-bottom: 2px #2b2b3c solid;
}

.spinner {
    width: 100px;
}
.spinner input {
    text-align: right;
}
.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}
.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
    /* border-top-right-radius: 4px; */
}
.input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    /* border-bottom-right-radius: 4px; */
}
.input-group-btn-vertical i{
    position: absolute;
    top: 0;
    left: 4px;
}
div#numberInput > input {
    border-radius: 0;
    width: 56px;
}

div#numberInput {
    width: 30%;
    float: left;
    overflow: hidden;
}
.quickbuy {
    padding: 0px 18px 10px 18px;
}

.quickbuy > a {
    background: #f7a91d;
    background: -moz-linear-gradient(top, #f7a91d 0,#f7941d 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f7a91d),color-stop(100%,#f7941d));
    background: -webkit-linear-gradient(top,#f7a91d 0,#f7941d 100%);
    background: -o-linear-gradient(top,#f7a91d 0,#f7941d 100%);
    background: -ms-linear-gradient(top,#f7a91d 0,#f7941d 100%);
    background: linear-gradient(to bottom,#f7a91d 0,#f7941d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7a91d', endColorstr='#f7941d', GradientType=0);
    border: none;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    vertical-align: top;
    font-size: 13px;
    padding: 0;
    box-shadow: 0 -2px 0 #e85123 inset;
    border-radius: 5px;
    width: 100%;
    height: 37px;
    line-height: 37px;
    display: block;
    text-transform: uppercase;
}
.add-to-wishlist.is-css {
    background: #efefef;
    background: -moz-linear-gradient(top,#efefef 0,#dedede 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#efefef),color-stop(100%,#dedede));
    background: -webkit-linear-gradient(top,#efefef 0,#dedede 100%);
    background: -o-linear-gradient(top,#efefef 0,#dedede 100%);
    background: -ms-linear-gradient(top,#efefef 0,#dedede 100%);
    background: linear-gradient(to bottom,#efefef 0,#dedede 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#dedede', GradientType=0);
    border: none;
    color: #000;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 400;
    vertical-align: top;
    font-size: 15px;
    padding: 0;
    box-shadow: 0 -2px 0 #b5b4b4 inset;
    border-radius: 5px;
    width: 100%;
    height: 37px;
    line-height: 37px;
}
.add-to-wishlist.is-css .icon {
    font-size: 19px;
    float: left;
    border-right: 1px solid rgba(0,0,0,.15);
    color: #858585;
    height: 35px;
    padding: 9px;
}
button.add-to-wishlist.is-css span.text {
    font-size: 13px;
    text-transform: uppercase;
    color: #8c8c8c;
}
.add-to-wishlist.is-css.added {
    background: #ef498f;
    background: -moz-linear-gradient(top,#ef498f 0, #ef3386 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ef498f),color-stop(100%,#ef3386));
    background: -webkit-linear-gradient(top,#ef498f 0,#ef3386 100%);
    background: -o-linear-gradient(top,#ef498f 0,#ef3386 100%);
    background: -ms-linear-gradient(top,#ef498f 0,#ef3386 100%);
    background: linear-gradient(to bottom,#ef498f 0,#ef3386 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef498f', endColorstr='#ef3386', GradientType=0);
    border: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 400;
    vertical-align: top;
    font-size: 15px;
    padding: 0;
    box-shadow: 0 -2px 0 #c13973 inset;
    border-radius: 5px;
    width: 100%;
    height: 37px;
    line-height: 37px;
}
.add-to-wishlist.is-css.added .icon {
    font-size: 19px;
    float: left;
    border-right: 1px solid rgba(0,0,0,.15);
    color: #ffffff;
    height: 35px;
    padding: 9px;
}
button.add-to-wishlist.is-css.added span.text {
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
}
.quickbuy:last-child {
    margin-bottom: 11px;
}
ul.navigtor-scroll > li {
    float: left;
}

ul.navigtor-scroll > li > a {
    display: block;
    padding: 9px;
    text-transform: uppercase;
    color: #444;
}

ul.navigtor-scroll > li:first-child > a {
}

ul.navigtor-scroll {
    margin-top: 15px;
    overflow: hidden;
    border-bottom: 1px #e8e8e8 solid;
    background: #f5f5f5;
}
.box-detail >h2 {
    margin: 10px 0;
    font-size: 18px;
    border-bottom: 1px #e8e8e8 solid;
    padding-bottom: 9px;
}
div#mota {
    padding: 10px 0;
    line-height: 20px;
    text-align: justify;
}
ul.navigtor-scroll > li.active > a {
    background: #f7941d;
    color: #fff;
}
ul.navigtor-scroll.nav.fix {
    position: fixed;
    top: 0;
    margin: 0 auto;
    z-index: 1;
}
textarea#question {
    border: 1px #e8e8e8 solid;
    width: 100%;
    outline: none;
    padding: 8px;
}
button#submit_quest {
    margin-top: 8px;
    border: none;
    padding: 9px;
    text-transform: uppercase;
    background: #f7941d;
    color: #fff;
}
.book-gallery > a.fancybox {
    display: block;
    padding: 9px;
    text-align: center;
    text-transform: uppercase;
    background: #f7941d;
    color: #fff;
}
.header > h2 {
    margin: 0;
    padding: 6px 14px;
    font-size: 14px;
    text-transform: uppercase;
    background: #f7941d;
    color: #fff;
    font-family: "Roboto Bold";
}

.active-button.shopping {
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.active-button.shopping:hover {
    /* border-color: #f7941d #f7941d #ffffff #f7941d; */
    z-index: 100;
}

.active-button.shopping:hover  .active-button-name {
    color: #f7941d;
}


.active-button.shopping:hover  .active-button-icon {
    background: url("../images/cart_hover.png") center no-repeat;
}
.addcart-goods-num {
    font: bold 11px/14px Verdana;
    color: #FFF;
    background: #F00;
    text-align: center;
    display: inline-block;
    height: 16px;
    min-width: 16px;
    max-width: auto!important;
    border: none 0;
    border-radius: 8px;
    position: absolute;
    z-index: 3;
    top: -10px;
    right: 20px;
}
.content-cart-small {
    position: absolute;
    width: 321px;
    top: 29px;
    right: -1px;
    z-index: 3;
    display: none;
}

.sub-title > h4 {
    margin: 0;
    padding: 7px;
    font-size: 14px;
    text-transform: uppercase;
    color: #8a8989;
    border-bottom: 1px #8a8989 solid;
}
.content-cart-wapper {
    margin-top: 7px;
    background: #f3f3f3;
}

.cart-empty {
    padding: 8px;
    color: #ccc;
}

.active-button.shopping:hover .content-cart-small {
    display: block;
}

.bg_empty {
    background: url("../images/empty_cart.png") no-repeat left center;
    height: 200px;
    background-size: contain;
}
h1.title_empty {
    font-size: 23px;
    line-height: 24px;
    font-family: "Roboto Bold";
    border-bottom: 1px #e0e0e0 solid;
    padding-bottom: 14px;
}
h1.title_empty > span {
    display: block;
    padding: 5px;
    background: #f7941d;
    width: 119px;
    color: #fff;
    margin-top: 9px;
}

a.returnbuy {
    display: block;
    padding: 4px 0;
    font-size: 16px;
    color: #444;
}

.empty_cart {
    padding: 20px 0;
}

.item-cart-image > img {
    width: 100%;
}
.cart-header-table {
    padding-bottom: 6px;
    border-bottom: 1px #dedede solid;
}
.list-item {
    padding-top: 10px;
}

.item-cart {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px #dedede solid;
}

.item-cart-infomation > h3 {
    font-size: 15px;
    margin: 0;
}
.giamua > span {
    display: block;
}
.item-cart-infomation > button {
    margin-top: 11px;
    font-size: 12px;
    text-transform: uppercase;
}
select.quantity {
    height: 32px;
    width: 55px;
}
span.discount-icon {
    display: block;
    padding: 2px 5px;
    background: #f7941d;
    color: #fff;
    margin-top: 6px;
}

span.gift-icon {
    display: block;
    padding: 2px 5px;
    background: #2e3192;
    color: #fff;
    margin-top: 6px;
}
.gift-item > img {
    width: 100%;
}

.gift-item {
    position: relative;
}

.gift-item > .title-gift > h3 {
    margin: 0;
    font-size: 13px;
    color: #fff;
}

.gift-item > span.icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    padding: 8px;
    background: #f7941d;
    font-size: 17px;
    text-align: center;
    color: #fff;
    border-bottom-right-radius: 7px;
}
.title-gift {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(25, 24, 24, 0.53);
    padding: 5px 11px;
    height: 63px;
}

span.qty {
    color: #fff;
}
.list-gift-header {
    margin-bottom: 15px;
    font-family: "Roboto Bold";
    font-size: 15px;
}
.cart-sumary.panel-default.panel > .panel-body > p {
    margin-bottom: 5px;
}

.cart-sumary.panel-default.panel > .panel-body > p > strong {
    float: right;
    font-family: "Roboto Regular";
}

.cart-sumary.panel-default.panel > .panel-body > p.p_total > strong {
    font-size: 18px;
    color: #f7941d;
}

.cart-sumary.panel-default.panel > .panel-body > p.p_total {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px #f7941d solid;
}
h4.panel-title > a {
    display: block;
    width: 100%;
}
h4.panel-title:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
}

h4.panel-title:after {
    content: "\f107";
    font-size: 19px;
    position: absolute;
    right: 0;
    top: -2px;
}

h4.panel-title {
    position: relative;
}
span.input-group-btn >button {
    background: #f7941d;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    border: none;
    height: 34px;
}

span.input-group-btn >button:hover, span.input-group-btn >button:focus,span.input-group-btn >button:active{
    border: none;
    background: #e27d04;
    color: #fff;
}
a#goCheckout {
    width: 100%;
    background: #f7941d;
    display: block;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 10px;
    border-radius: 4px;
}
p.lovebook_xu {
    text-align: justify;
    margin-bottom: 0;
}

p.lovebook_xu a {
    color: #f7941d;
    font-family: "Roboto Bold";
}

.auth {
    cursor: pointer;
}
.modal-header {
    position: relative;
}

.modal button.close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
}

button.close {
    background: url("../images/close.png") no-repeat center;
    background-size: 20px 20px;
}
.head > h2 {
    font-size: 18px;
    font-family: "Roboto Thin";
    margin-top: 0;
    margin-bottom: 1px;
}

.head > p {
    margin-bottom: 0;
    color: #a2a2a2;
}
.head {
    background: url("../images/icon1.png") no-repeat;
    min-height: 36px;
    padding: 0 0 0 50px;
}
p.reset {
    font-size: 12px;
}

p.reset a {
    color: #f99618;
}
button.login_modal {
    width: 100%;
    padding: 6px;
    border: none;
    text-transform: uppercase;
    color: #fff;
    background: #f7d616;
    background: -moz-linear-gradient(top, #f7d616 0,#f7b62a 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f7d616),color-stop(100%,#f7941d));
    background: -webkit-linear-gradient(top,#f7d616 0,#f7941d 100%);
    background: -o-linear-gradient(top,#f7d616 0,#f7941d 100%);
    background: -ms-linear-gradient(top,#f7d616 0,#f7b62a 100%);
    background: linear-gradient(to bottom,#f7d616 0,#f7b62a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7d616', endColorstr='#f7b62a', GradientType=0);
    border: none;
    box-shadow: 0 -2px 0 #f7941d inset;
    border-radius: 5px;
}
button.register_modal {
    width: 100%;
    padding: 6px;
    border: none;
    text-transform: uppercase;
    color: #fff;
    background: #f7d616;
    background: -moz-linear-gradient(top, #f7d616 0,#f7b62a 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f7d616),color-stop(100%,#f7941d));
    background: -webkit-linear-gradient(top,#f7d616 0,#f7941d 100%);
    background: -o-linear-gradient(top,#f7d616 0,#f7941d 100%);
    background: -ms-linear-gradient(top,#f7d616 0,#f7b62a 100%);
    background: linear-gradient(to bottom,#f7d616 0,#f7b62a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7d616', endColorstr='#f7b62a', GradientType=0);
    border: none;
    box-shadow: 0 -2px 0 #f7941d inset;
    border-radius: 5px;
}
button.register_button {
    margin-top: 10px;
    width: 100%;
    color: #fff;
    padding: 6px;
    border: none;
    text-transform: uppercase;
    background: #fd4040;
    background: -moz-linear-gradient(top,#fd4040 0,#d71a1a 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fd4040),color-stop(100%,#d71a1a));
    background: -webkit-linear-gradient(top,#fd4040 0,#d71a1a 100%);
    background: -o-linear-gradient(top,#fd4040 0,#d71a1a 100%);
    background: -ms-linear-gradient(top,#fd4040 0,#d71a1a 100%);
    background: linear-gradient(to bottom,#fd4040 0,#d71a1a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd4040', endColorstr='#d71a1a', GradientType=0);
    border: none;
    box-shadow: 0 -2px 0 #AF0C0C inset;
    border-radius: 5px;
}
a.remote_login {
    display: block;
    width: 100%;
    background: #ccc;
    padding: 6px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-top: 10px;
    background-image: -webkit-linear-gradient(top,#5972a5 0,#3e578b 100%);
    background-image: linear-gradient(to bottom,#5972a5 0,#3e578b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5972a5', endColorstr='#ff3e578b', GradientType=0);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 -2px 0 #112d6c inset;
    box-shadow: 0 -2px 0 #112d6c inset;
    background-repeat: repeat-x;
}
.override-modal-open {
    overflow-y: scroll;
}
span.error {
    display: block;
    text-align: right;
    font-size: 11px;
    padding: 3px 0;
    color: red;
}
.wapper_loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(193, 190, 190, 0.34);
    z-index: 9999999999;
    background-image: url("../images/ring-alt.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    display: none;
}
.wapper_loader_show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(193, 190, 190, 0.34);
    z-index: 9999999999;
    background-image: url("../images/ring-alt.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px 60px;
}
.user-name {
    display: block;
    position: relative;
    float: left;
}
.user-name-link {
    display: block;
    position: relative;
    color: #444;
    height: 34px;
    cursor: pointer;
    padding-right: 15px;
}
.user-name .user-name-link .user-avatar {
    float: left;
    width: 34px;
    height: 34px;
    margin-right: 8px;
    position: relative;
}
.user-avatar img {
    width: 34px;
    height: 34px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.user-name-link ul {
    float: left;
    margin: 0;
    height: 34px;
    list-style: none;
    padding: 0;
    font-size: 12px;
    width: 112px;
}
.user-name-link ul li.user-name-short {
    padding: 0 0 2px;
    display: block;
    position: relative;
    font-family: "Roboto Bold";
}
.user-name-link ul li.user-name-short .badge {
    margin-left: 5px;
    padding: 2px 5px;
    font-size: 11px;
    background: #f7941d;
    font-weight: normal;
    font-family: "Roboto Bold";
}
.user-name .user-name-link ul li.user-name-account {
    font-size: 11px;
    display: block;
    position: relative;
}
.user-name .user-name-box {
    background: 0 0;
    padding-top: 13px;
    display: none;
    position: absolute;
    top: 33px;
    left: 0;
    z-index: 10;
}

.user-name .user-name-link span.caret {
    position: absolute;
    top: 12px;
    right: 3px;
    border-top: 5px solid #999;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
ul.dropdown-menu {
    margin-top: 3px;
    border-radius: 0;
    border: 1px #f1f1f1 solid;
}
ul.dropdown-menu  > li > a {
    font-size: 13px;
    color: #444;
}
.pull-left.profileAva {
    width: 30%;
}

.pull-left.profileName {
    width: 70%;
}

.profileAmazing {
    overflow: hidden;
    background: #f7941d;
}

.pull-left.profileName {
    padding-left: 13px;
    padding-top: 17px;
}

.pull-left.profileAva img {
    width: 100%;
}

.pull-left.profileName small {
    color: #fff;
}

.pull-left.profileName p {color: #fff;font-size: 15px;}
ul.accountListFunction > li {
    padding: 11px 11px;
    background: #f7f7f7;
    border-bottom: 1px #dadada dashed;
}

ul.accountListFunction > li > a {
    color: #231d1d;
    font-size: 13px;
    display: block;
}
ul.accountListFunction > li > a > i {
    width: 26px;
}
.accountContent > h1 {
    margin-top: 0;
    font-size: 20px;
    font-family: "Roboto Thin";
}
a.thanhtoanlai {
    display: inline-block;
    width: 168px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    background: #f7941d;
    color: #fff;
    border-radius: 4px;
    border-bottom: 2px #ce7204 solid;
}

a.removedonhang {
    display: inline-block;
    width: 168px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    background: #fd2c08;
    color: #fff;
    border-radius: 4px;
    border-bottom: 2px #c11d00 solid;
}
p.usercode {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 13px;
    color: #f7941d;
}
td.sumaryTable > p > span {
    display: inline-block;
    width: 200px;
    text-align: left;
}

td.sumaryTable > p > strong {
    display: inline-block;
    width: 200px;
    text-align: right;
}

/*Rate Process*/
.rate-proccess .item {
    text-align: center;
    font-size: 0;
    clear: both;
    overflow: hidden;
    margin-bottom: 7px;
}

.rate-proccess {}

.rate-proccess .item .rating-num {
    display: block;
    font-size: 12px;
    width: 40px;
    line-height: 15px;
    vertical-align: middle;
    float: left;
    width: 46px;
}

.rate-proccess .item .rating-num-total {
    display: block;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    margin-left: 10px;
    color: #999;
    line-height: 15px;
    vertical-align: middle;
    float: left;
}

.progress-bar.progress-bar-success {
    background: #f7941d;
}
.progress {
    float: left;
    width: 168px;
    height: 16px;
    margin-bottom: 0;
}
button.btn.btn-default.btn-coupon {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.review-sumary-content {
    padding: 10px;
    border: 1px #e8e8e8 solid;
}
.summary-Col {
    border-right: 1px #e8e8e8 solid;
    height: 118px;
    text-align: center;
}

.summary-Col > h4 {
    margin-top: 0;
    text-align: center;
    font-size: 13px;
    font-family: "Roboto Bold";
}

p.total-review-point {
    text-align: center;
    font-size: 22px;
    font-family: "Roboto Bold";
    color: #f7941d;
}
p.rating {
    margin-bottom: 0;
}

p.rating i.on {
    color: #f7941d;
}
.form_review > h2 {
    margin: 10px 0;
    font-size: 18px;
    border-bottom: 1px #e8e8e8 solid;
    padding-bottom: 9px;
}
.rate label {
    float: left;
    width: 50%;
    padding-top: 4px;
}

.rate .rate_jquery {
    width: 50%;
    float: left;
}

.rate {
    overflow: hidden;
}
button.submitReview {
    margin-top: 10px;
    border: none;
    padding: 7px;
    border-radius: 3px;
    background: #f7941d;
    color: #fff;
}
.introduce_review > ul >li >b {
    font-weight: normal;
    font-family: "Roboto Bold";
}

.introduce_review {
    font-size: 12px;
    line-height: 20px;
    border-left: 1px #e8e8e8 solid;
    padding-left: 23px;
    text-align: justify;
}
.author_review {
    text-align: left;
    border-right: 1px #e8e8e8 solid;
}


.author_review > p.name {
    font-size: 14px;
    font-family: "Roboto Bold";
    margin: 3px 0;
}

.author_review > p.days {
    font-size: 12px;
    margin-bottom: 0;
}
p.rating > i {
    color: #ccc;
}
p.review {
    color: #f7941d;
    margin: 3px 0;
}
.review_detail {
    text-align: justify;
    line-height: 18px;
}
.review_item {
    min-height: 120px;
    padding: 8px 0;
    border-bottom: 1px #e8e8e8 solid;
}

.review_item:last-child {
    border: none;
}
.form_review {
    display: none;
}
p.new_notification {
    margin-bottom: 0;
    padding: 1px;
    font-size: 10px;
    background: #e00f0f;
    width: 89px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;
}
button.readedNotification {
    border: none;
    padding: 4px 12px;
    background: #e6e6e6;
    border-radius: 3px;
    border-bottom: 2px #ccc solid;
    text-transform: uppercase;
}
.imgAvatar img {
    width: 100%;
}
button.removeFavorite {
    padding: 5px 13px;
    border: none;
    text-align: center;
    font-size: 14px;
    background: #dedede;
    border-radius: 4px;
    border-bottom: 1px #b1b1b1 solid;
}
h3.reviewTitle {
    margin: 5px 0;
    font-size: 14px;
    color: #f7941d;
}
p.reviewDescription {
    text-align: justify;
}
.sliptTwo {
    overflow: hidden;
}

.pull-left.halfPart {
    width: 50%;
}

.pull-left.halfPart:first-child {
    padding-right: 5px;
}
.pull-left.halfPart:last-child {
    padding-left: 5px;
}
form#tracking-form {
    width: 80%;
    margin: 0 auto;
}
.tracking-inner.text-center h1 {
    margin-top: 0;
    font-size: 20px;
    color: #f7941d;
}
button.checkTracking {
    width: 200px;
    border: none;
    padding: 6px;
    font-family: "Roboto Bold";
    height: 34px;
    border-radius: 4px;
    background: #f7941d;
    color: #fff;
}
.smallType {
    font-size: 12px;
    color: #adadad;
}
.completeOrder {
    text-align: center;
}
.bgBigCheck {
    width: 100%;
    height: 104px;
    background: url("../images/check.png") center no-repeat;
    background-size: 74px;
}
.bgBigUnCheck {
    width: 100%;
    height: 104px;
    background: url("../images/uncheck.png") center no-repeat;
    background-size: 74px;
}
.completeOrder > h1 {
    margin: 10px 0;
    font-size: 20px;
}
.completeOrder > h3 {
    margin-top: 5px;
    font-size: 14px;
    margin-bottom: 22px;
}
a.btn.btn-success.buttonCart {
    border: none;
    border-radius: 0;
    background: #f7941d;
}
h1.postTitle {
    margin: 10px 0;
    font-family: "Roboto Light";
    font-size: 24px;
}
.addtimePostC {
    padding-bottom: 10px;
    border-bottom: 1px #dedede solid;
}
.contentPost {
    margin-top: 15px;
}


/*Mobile Menu CSSS*/

.nav_left_header {
    background: #6d6d6d;
    padding: 14px;
    height: 20vh;
}
.sidr-class-sidr-button-close {
    position: absolute;
    top: 5px;
    right: 10px;
    display: block;
    text-indent: -9999em;
    background: url(../images/close.svg) no-repeat 50% 50%;
    padding: 20px;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
}
img.logo_nav_left {
    width: 108px;
}
.nav_left_header > ul > li {
    float: left;
    width: 50%;
}

.nav_left_header > ul > li > a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
}

.nav_left_header > ul {
    overflow: hidden;
    margin-top: 21px;
}
.nav_user_name {
    margin-top: 7px;
    text-transform: uppercase;
    color: #fff;
}
img.nav_left_avatar {
    border-radius: 50%;
}
.list_menu_nav > ul > li> a > h3 {
    font-family: "Roboto Bold";
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 12px;
    line-height: 1.71429em;
    text-transform: uppercase;
    font-weight: 700;
    color: #f7941d;
}

.list_menu_nav > ul > li> ul > li {
    margin: 3px 0;
}

.list_menu_nav {
    height: 80vh;
    background: #3c3b3b;
    overflow: auto;
    padding: 0 13px;
}

.list_menu_nav > ul > li> a {
    display: block;
}

.list_menu_nav > ul > li> ul > li > a {
    color: #b1aaaa;
    display: block;
    margin: 6px 0;
    font-size: 12px;
    text-transform: uppercase;
}
a.nav_logout {
    text-transform: uppercase;
    font-size: 11px;
    color: #fff;
    margin-top: 4px;
    display: block;
}
.wapper_sdir {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background: rgba(0,0,0,.5);
    display: none;
    transition: left 0.2s ease;
}
.nav_user_name >strong > a {
    color: #fff;
}