
<div class="account">
    <div class="container">
        <div class="accountInner">
            <div class="row">
                <div class="col-md-3 no-padding-right">
                    {$sidebar}
                </div>
                <div class="col-md-9">
                    <div class="accountContent">
                        <h1>Thông báo của tôi</h1>
                        <table class="table table-hover table-condensed table-responsive">
                            <colgroup>
                                <col class="col-xs-2"/>
                                <col class="col-xs-7"/>
                                <col class="col-xs-3"/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>Thời gian</th>
                                <th>Nội dung</th>
                                <th class="text-center">Đánh dấu</th>
                            </tr>
                            </thead>
                            <tbody>
                            {for $item in $message}
                                <tr>
                                    <td>
                                        {$item.add_time|Filter::UnixTimeToDate:true}
                                        {if($item.status==0)}
                                            <p class="new_notification">thông báo mới</p>
                                        {/if}
                                    </td>
                                    <td>{$item.content}</td>
                                    <td class="text-center">
                                        {if($item.status==0)}
                                            <button class="readedNotification" onclick="readedNotification($(this))" data-id="{$item.message_id}">Đánh dấu đã đọc</button>
                                        {/if}
                                    </td>
                                </tr>
                            {/for}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

