table>tbody>tr>td { vertical-align: middle }
.Media_Item {
    width: 110px;
    float: left;
    height: 110px;
    border: 1px solid #CCC;
    margin: 5px;
    cursor: pointer;
    overflow: hidden;
}
.Media_Item.Selected, .Editor_Media_Item.Selected {
	border: 3px solid #428bca !important;
}
.no-border {
	border: none
}
div.File_Thumbnail {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
div.File_Name {
    text-align: center;
    font-size: 12px;
}
#Files_Container {
    font-family: arial;
	
    overflow: hidden
;
    background: #FFF;
}
.Media_Item:hover {
    background: #F5F5F5;
}
.nav.nav-pills li a {
	padding: 5px 10px 4px 10px;
	border-radius: 0;
}
#File_Actions {
	clear: both;
	width: 100%;
	height: 30px;
	background: #EEE;
	border-bottom: 1px solid #DBDBDB;
	overflow: auto;
}
.Main_Files {
	padding: 10px;
	overflow: auto;
	height: 500px;
}
ul.pagination.pagination-sm {
	padding: 0;
	margin: 0;
	float: right;
	margin-right: 10px;
	border-radius: 0;
	margin-top: 3px;
}
.pagination-sm>li>a {
	padding: 2px 8px;
}
.pagination-sm>li:last-child>a {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	padding-top: 1px;
	line-height: 18px;
}
.pagination-sm>li:first-child>a {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	line-height: 18px;
	padding-top: 1px;
}
#Manager_Featured {
	float: right
}

div.Upload_Sidebar {
    width: 115px;
	
    border-right: 1px solid #DBDBDB;
    padding-top: 5px;
    height: 502px;
    position: relative;
    z-index: 999999;
}
div.Uploader_Content {
    float: left;
    margin-left: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 125px;
    position: absolute;
    top: 62px;
    padding-right: 15px;
}

.Editor_Uploader form {
	margin: 0
}

.Upload_Sidebar button {
	width: 95px;
	margin: 5px auto;
	display: block;
}
.Uploader_Content #Files_Holder {
	height: 30px !important
}
.Uploader_Content #Upload_Progress {
	height: 280px;
	overflow: auto;
	border: 1px solid #DBDBDB;
}
.Editor_Uploader {
	background: #FFF;
}