@charset "utf-8";
/* CSS Document */

input {
    outline: none !important
}

.form-control, .btn {
    border-radius: 0;
    height: 30px;
}

.btn {
    padding: 4px 12px;
}

#LoginForm {
    padding: 26px;
    background: rgba(95, 95, 95, 0.66);
    margin-top: 100px;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/wallpaper.jpg") no-repeat;
    background-size:   cover;
    background-position: center center;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
    transform: scale(1.03);
    z-index: -1;
}
.form-group {
    position: relative;
}
span.icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    padding: 7px;
    font-size: 17px;
    color: rgba(183, 180, 180, 0.97);
}

.form-group input {
    padding-left: 33px;
    border: none;
}
h3.form-title {
    margin-bottom: 26px;
    color: #fff;
    text-align: center;
}

.form-group {
    margin: 0!important;
    padding-bottom: 12px;
}
.logo {
    background: url("../images/thietkeweb2s.png") left center no-repeat;
    width: 100%;
    height: 74px;
    background-size: 192px;
    padding-left: 194px;
    padding-top: 14px;
    font-size: 13px;
    color: #D6D6D6;
}
.logo a {
    color: #A7A7A7;
}
.copyright {
    position: fixed;
    width: 100%;
    bottom: 20px;
    right: 0;
}
